.section {
  &__country {
  }
}
.name-country {
  
}
.container-countries {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.countries  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    margin-bottom: 20px;
  }

  &__name {
    margin: 0;
  }

  &__capital {
    font-weight: 700;
  }

  &__population {
    font-weight: 700;
  }

  &__languages {
    margin-top: 20px;
  }

  &__language {
  }
}
.languages {
  font-weight: 700;
}
.flag {
  width: 300px;
  margin-left: 60px;
}
