body {
  font-size: 30px;
}

.container {
  margin: 0 auto;
  width: 1080px;
}

.container-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field-country {
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px;
  width: 450px;
}

.list-countries {
   margin-left: auto;
}
