<section class="section__country">
  <h1 class="name-country">Ukraine</h1>
  <div class="container-countries">
    <ul class="feature">
      <li class="feature__item">
        <p class="feature__name"><span class="feature__capital">Capital:</span> Kiev</p>
      </li>
      <li class="feature__item">
        <p class="feature__name"><span class="feature__population">Population:</span> 8356987</p>
      </li>
      <li class="feature__item">
        <p class="feature__name"><span class="languages">Languages:</span></p>
        <ul class="feature__languages">
          <li class="feature__language">Ukrainian</li>
        </ul>
      </li>
    </ul>

    <img
      src="https://raw.githubusercontent.com/goitacademy/javascript-homework/main/homework-12/assets/country-info.png"
      alt="Флаг"
      class="flag"
    />
  </div>
</section>
